@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: poppins, sans-serif;
 
}
 body {
    color: white; 
    background: #09001d;
    overflow: hidden;
    
 }
 .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
 }
 .logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 50px #09001d);
 }

 .navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left:35px ;
    transition:35 ;
 }
 .navbar a:hover,
 .navbar a.active {
    color:rgb(240, 192, 220) ;
 }

 .main {
    min-height: 100vh;
    background:url('./assets/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3 ease;
 }

 .main.active {
   filter: blur(10px);
   pointer-events: none;
 }
 .container {
   display: flex;
   height: 100vh;
   width: 200%;
 }

 .home {
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
 }
  
 .home-content {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;

 }

 .home-content h1 {
    font-size: 78px ;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 3);
 }
 
 .home-content p{
    font-size: 16px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 3) ;
    margin-bottom: 30px;
 }
  .home-content .start-btn {
    width: 130px;
    height: 50px;
    background: #270c61;
    border: 1px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #270c61;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .home-content .start-btn:hover {
    background: #09001d;
    box-shadow: none;
  }

  .popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(.9) ;
    width: 500px;
    height: 230px;
    padding: 1rem;
    background: #270c61;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: 1s ease;


  }

  .popup-info.active {
   opacity: 1;
   pointer-events: auto;
   transform: translate(-50%, -50%)scale(1) ;

  }

  .pupup-info h2 {
    font-size: 50px;
    color: #09001d;
  }

  .popup-info .info {
    display: inline-block;
    font-size: 16px;
    color: #9a90b1;
    font-weight: 500;
    margin: 4px 0;
  }

  .popup-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #c2b9d8;
    margin-top: 10px;
    padding: 15px 0 7px;
  }
 
  .popup-info .btn-group .info-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 35px;
    background: #09001d;
    border: 1px solid black;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1) ;
    cursor: pointer;
    transition: .2s;
  }

  .popup-info .btn-group .info-btn::nth-child(1) {
   background: transparent;
   color: #09001d;
  }
  .popup-info .btn-group .info-btn::nth-child(1):hover {
   background: #09001d;
   color:#fff;
  }

   .popup-info .btn-group .info-btn::nth-child(2):hover {
   background: #09001d;
   border-color: #9a90b1;
  }

.quiz-section {
   position: relative;
   /* left:50%; */
   left: 0;
   width: 100%;
   background: #271157;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100 ;
   transition: .8s ease-in-out;
   transition-delay: .25s ;
  
}
.quiz-section.active {
   left: 0;
}